$black: #101010;
$black_1:#00000047;
$white: #ffffff;
$gray:#F8F8F8;
$gray_1:#637182;
$gray_2: #dfdcd5;
$sky:#0097C2;
$sky_2:#E1ECF9;
$yellow: #f2b808;
$yellow_2:#8F6C0A;
$yellow_3:#FCF9E1;
$green:#579064;
$red:#950000;
$red_1:#EF5261;
$blue:#0A488F;


$border-radius:5px;