@import "../styles/common";

.layout {
  background-color: $white;
  .header {
    background-color: $gray;
    line-height: 0;
    padding-top: 0px;
    height: auto;
  }
  .content {
    background-size: 100% auto;
    background-image: url(/imgs/home/Rectangle.png),
      linear-gradient(to left, transparent 50%, #97e0f3 0% 0%, #ffffff 50% 100%);
    background-repeat: no-repeat;
    & {
      @media (max-width: 900px) {
        background-image: none;
      }
    }
  }
  .footer {
   
  }
}
